.calculator {
    width: 800px;
    background-color: #F1F1F1;
    margin: auto;
}

.calc-title {
    margin: 0;
    text-align: center;
}

.calc {
    margin: auto;
    width: 600px;
    height: 800px;
}