.calculator {
    width: 800px;
    background-color: #F1F1F1;
    margin: auto;
}

.calc-title {
    margin: 0;
    text-align: center;
}

.calc {
    margin: auto;
    width: 320px;
}

.calc-border {
    margin: auto;
    width: 320px;
    height: 370px;
    background-color: #EAEBFF;
    border: 1px solid #919095;
}

.input {
    grid-column: 1 / span 3;
}

.back-home {
    display: block;
    line-height: 3.7em;
}